body {
    background: #FFF;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#toolbar {
    margin: 0.5em;
}

#toolbar div {
    text-align: center;
    margin: 0;
}
#toolbar input {
    height: 2em;
    width: 2em;
}

table {
    border-spacing: 1px;
    border-collapse: separate;
    border: 0 none;
    background: #444;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

th {
    background: #EEE;
    border: 0 none;
    padding: 0;
    margin: 0;
    line-height: 1.6em;
}

td {
    line-height: 0;
    padding: 0;
    margin: 0;
}

tr:nth-child(odd)  td:nth-child(odd)  { background: #FFF }
tr:nth-child(odd)  td:nth-child(even) { background: #CCC }
tr:nth-child(even) td:nth-child(even) { background: #FFF }
tr:nth-child(even) td:nth-child(odd)  { background: #CCC }

td.selectable   { cursor: cell }
td.unselectable { cursor: default }
td.movable      { cursor: pointer; border-color: #4F4; }
td.selected     { cursor: pointer; border-color: #FF4; }
td.targetted    { cursor: pointer; border-color: #F44; }
td.promoting    { cursor: default; border-color: #F4F; }

.flipping .black td,
.flipping .black th,
.flipping .black input { transform: scale(-1, -1); }

#right { float: right; height: 10em; padding: 0em 1em; }
#flipper { transform: none; }

@media screen and (orientation:portrait) {
    body { font-size: 3vw; }

    #toolbar input { font-size: 5.5vw; }

    table { width: 100vw; }

    td {
        --border: 3px;
        --size: calc((100vw - 2.5vw - 10px - 16 * var(--border)) / 8);
        width: var(--size);
        height: var(--size);
        font-size: calc(var(--size) - 10px);
        border: var(--border) solid transparent;
    }
}

@media screen and (orientation:landscape) {
    body { font-size: 3vh; }

    #toolbar input { font-size: 5.5vh; }

    table { height: 100vh; }

    th { width: 1.3em; }

    td {
        --border: 3px;
        --size: calc((100vh - 3vh - 10px - 16 * var(--border)) / 8);
        width: var(--size);
        height: var(--size);
        font-size: calc(var(--size) - 10px);
        border: var(--border) solid transparent;
    }

    #toolbar {
        position: absolute;
        top: 0;
        left: 100vh;
    }

    #toolbar div { float: right; width: 4em; }
}
